{% include 'head.html.twig' %}

<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-start">
		
		{% include 'form.html.twig' %}
		
		{% include 'tabs.html.twig' %}
		
	</div>
</div>

{% include 'foot.html.twig' %}